form {
  width: 95%;
  margin: 0 auto;
  font-family: "ICA Rubrik", sans-serif;
  padding: 3rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
  color: #3e4455;
}

.contactUsForm form {
  display: block;
}

.input-control {
  font-family: "ICA Rubrik", sans-serif;
  font-size: 1.5rem;
  font-weight: 0;
  padding: 1rem;
  width: 100%;
}

.contact-msg {
  height: 150px;
  line-height: 1.2;
  padding: 20px 30px;
  width: 100%;
  font-family: "ICA Rubrik", sans-serif;
  resize: none;
  font-size: 1.5rem;
}

/*Sending status*/
.spinner {
  width: 50px;
  height: 50px;
  background-color: gray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.spinner img {
  width: 100%; /* Make the image fit within the container */
  height: auto;
  animation: spin 1s linear infinite; /* Apply the spin animation */
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Complete a full 360-degree rotation */
  }
}

.emailSent {
  width: 150px;
  height: 50px;
  background-color: green;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  text-align: center;
}

.submit {
  width: 150px;
  height: 50px;
  background-color: gray;
  border-radius: 10px;
  text-align: center;
}
