* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

body {
  background-color: #d2d2d2;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 100px,
      #25283b22 100px 101px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 100px,
      #25283b22 100px 101px
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.bannerMobile{
  display: none;
}

.menu{
  display: none;
}

.h1Mobile{
  display: none;
}

.banner .slider {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 20%;
  left: calc(50% - 120px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 30s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  cursor: pointer; 
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner .content {
  position: absolute;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content h1 {
  font-size: 10em;
  line-height: 1em;
  font-weight: 600;
  color: #000000;
  position: relative;
}

.banner .content p {
  font-size: 3em;
  line-height: 1em;
  color: #000000;
  position: absolute;
  top: 60%;
  margin-left: 10px;
}

.banner .content h2 {
  font-size: 3em;
}

/*line after baner*/
.line{
  width: 90%;
  height: 1px;
  background-color: black;
  margin-top: 30px;
  justify-self: center;
}

/*pageBottom configurations*/
.pageBottom {
  width: 100%;
  margin: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.pageBottom .text{
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageBottom .text h1 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 600;
  color: #000000;
  width: fit-content;
}

.pageBottom .text p{
  font-weight: 400;
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
}

/*header*/
.header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.header img{
  width: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

.header h1 {
  font-size: 1.5rem;
  color: #25283b;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

/*about us*/
.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.aboutUs h1 {

  font-size: 3em;
  color: #25283b;
  line-height: 2em;
}

.aboutUs p {

  font-size: 2.5em;
  color: #25283b;
  text-align: justify;
  width: 60%;
}

.pause-animation {
  animation-play-state: paused !important;
}

/*contact us field*/
.contactContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactContainer .contactBlock{
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contactContainer .contactBlock h1{
  font-size: 2.5rem;
}

.contactContainer .contactBlock p{
  text-align: center;
  font-size: 1.5rem;
}

.contactContainer .contactBlock div{
  width: 25%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 10px;
}

.contactContainer .contactBlock div:hover {
  background-color: #767978;
}

.contactContainer .contactBlock div h2{
  color: white;
  font-weight: 300;
}

/*footer*/
.footer{
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
}

.footerMobile{
  display: none;
}

.footer img{
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
  cursor: pointer;
}

.footer .constellarweb{
  margin-left: 60px;
}

.footer div{
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer div p{
  cursor: pointer;
}

.footer div .email,
.footer div .telegram{
  cursor: default;
}

.footer div .telegram span{
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

@media (max-width:450px) {
  .banner {
    display: none;
  }
  
  .bannerMobile{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bannerMobile .header{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(210, 210, 210);
    justify-content: space-between;
  }

  .bannerMobile .header img{
    position: unset;
    height: 40px;
  }

  .bannerMobile .slider{
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .bannerMobile .slider img{
    width: 100%;
    height: auto;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .bannerMobile .slider img.display{
    display: flex;
  }

  .bannerMobile h1{
    font-size: 2.5rem;
  }

  .bannerMobile h1,
  .bannerMobile p{
    margin: 0 0 0 20px;
  }

  .bannerMobile .slider button.prev, 
  .bannerMobile .slider button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  
  .bannerMobile .slider button.prev { left: 2px; }
  
  .bannerMobile .slider button.next { right: 2px; }

  .bannerMobile h1{
    margin-top: 20px;
  }

/*menu*/
.menu{
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  display: none;
  flex-direction: column;
}

.menu.display{
  display: flex;
}

body.no-scroll{
  height: 100%;
  overflow: hidden;
}

.menu div:nth-child(1){
  display: flex;
  justify-content: flex-end;
}

.menu div:nth-child(2),
.menu div:nth-child(3),
.menu div:nth-child(4){
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu div:nth-child(2) h1,
.menu div:nth-child(3) h1,
.menu div:nth-child(4) h1{
  font-weight: 400;
}

/*page bottom*/
.pageBottom {
  margin: 30px 0 0 0;
  flex-direction: column;
  gap: 20px;
}

.line{
  margin-top: 10px;
}

.pageBottom .text{
  width: 90%;
  gap: 20px;
}

.pageBottom .text .h1Desktop {
  display: none;
}

.pageBottom .text .h1Mobile{
  font-size: 1.8em;
  font-weight: 500;
}

.pageBottom .text p{
  font-weight: 400;
  color: #000000;
  text-align: justify;
  font-size: 1rem;
}

/*contact us field*/
.contactContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contactContainer .contactBlock{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contactContainer .contactBlock h1{
  font-size: 2rem;
}

.contactContainer .contactBlock p{
  text-align: justify;
  font-size: 1rem;
}

.contactContainer .contactBlock div{
  width: 50%;
  margin-top: 10px;
}

/*footer*/
.footer{
  display: none;
}

.footerMobile{
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footerMobile div{
  box-sizing: border-box;
  padding: 20px;
}

.footerMobile div:nth-child(1){
  display: flex;
  gap: 20px;
}

.footerMobile div:nth-child(1) img{
  width: 40px;
}

.footerMobile div:nth-child(4) .telegram span{
  color: blue;
  text-decoration: underline;
}
}

/*media query for ipads portrait*/
@media (min-width: 451px) and (max-width: 834px) {
  .banner {
    height: 50vh;
  }

  .banner .slider {
    width: 160px; /* Reduce width */
    height: 90px; /* Reduce height */
    top: 10%; /* Move it up */
    left: calc(50% - 80px); /* Center it */
    transform: perspective(800px); /* Adjust perspective */
    margin-top: 70px;
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
               translateZ(330px); /* Reduce translateZ to bring items closer */
  }


  .banner .content {
    bottom: 0;
    padding-bottom: 50px;
    margin-left: 30px;
  }
  

  .banner .content h1 {
    font-size: 4em;
  }

  .banner .content p {
    font-size: 1.8em;
    top: 50%;
  }

  /*pageBottom configurations*/
.pageBottom {
  margin: 50px 0 50px 0;
  box-sizing: border-box;
  padding: 20px;
}

.pageBottom .text{
  align-items: start;
}

.pageBottom .text h1 {
  font-size: 1.5em;
}

.pageBottom .text p{
  text-align: left;
  font-size: 1rem;
}

 /*contact us button*/
.contactContainer .contactBlock div{
  width: 30%;
}

  /*footer*/
.footer{
  height: 250px;
  gap: 60px;
}

.footer img{
  position: unset;
 }
 
 .footer .constellarweb{
   display: none;
 }

.footer div h1{
  font-size: 1.2rem;
}
}

/*media query for ipads landscape*/
@media (min-width: 1024px) and (max-width: 1366px) {
  .banner {
    height: 80vh;
  }

  .banner .slider {
    width: 220px; /* Reduce width */
    height: 120px; /* Reduce height */
    top: 10%; /* Move it up */
    left: 39%;
    margin-top: 70px;
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
               translateZ(410px); /* Reduce translateZ to bring items closer */
  }

  .banner .content {
    bottom: 0;
    left: 4%;
    transform: none;
    padding-bottom: 50px;
   
  }
  
  .banner .content h1 {
    font-size: 7em;
  }

  /*pageBottom configurations*/
.pageBottom {
  margin: 80px 0 80px 0;
}


.pageBottom .text h1 {
  font-size: 2em;
}

 /*footer*/
.footer img{
 position: unset;
}

.footer .constellarweb{
  display: none;
}
}

/*ipad pro 13 portrait*/
@media (device-width: 1024px) and (device-height: 1366px) {
  .banner {
    height: 50vh;
  }

  .banner .slider {
    width: 230px; 
    height: 120px; 
  }
}

/*ipad pro 13 landscape*/
@media (device-width: 1366px) and (device-height: 1024px) {
  .banner {
    height: 80vh;
  }

  .banner .slider {
    width: 250px; /* Reduce width */
    height: 150px; /* Reduce height */
    left: 41%;

  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
               translateZ(520px); /* Reduce translateZ to bring items closer */
  }

}



